<template>
    <div class="view">
    <div id="page-title">
        <h2>Create Student</h2> <p>Register students details.</p>
    </div>
    <div class="panel">
            <div class="panel-heading">
                <h4 class="title">{{title}}</h4>
                <div class="btn-group">
                        <button @click="$router.back()" class="btn btn-default">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                </div>
            </div>
            <div class="panel-body">
                <form @submit.prevent="submit" class="form-horizontal bordered-row" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Reg. No.</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.regno" placeholder="Registration Number" disabled>
                            <small class="e-text" v-if="errors.regno">{{errors.regno[0]}}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">First name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.firstname" placeholder="First name">
                            <small class="e-text" v-if="errors.firstname">{{errors.firstname[0]}}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Middle name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.middlename" placeholder="Middle name">
                            <small class="e-text" v-if="errors.middlename">{{errors.middlename[0]}}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Last name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.lastname" placeholder="Last name">
                            <small class="e-text" v-if="errors.lastname">{{errors.lastname[0]}}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sex</label>
                        <div class="col-sm-6">
                            <label class="radio-inline"><input type="radio" id="" name="gender" value="M" v-model="form.gender" selected> &emsp; Male</label>
                                <label class="radio-inline"><input type="radio" id="" name="gender" value="F" v-model="form.gender"> &emsp; Female</label>
                                <small class="e-text" v-if="errors.gender">{{errors.gender[0]}}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Date of Birth</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" v-model="form.dob" placeholder="Date of Birth">
                             <small class="e-text" v-if="errors.dob">{{errors.dob[0]}}</small>
                        </div>
                    </div>

                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Place of Origin</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.town" placeholder="Place of Origin">
                           <small class="e-text" v-if="errors.town">{{errors.town[0]}}</small>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-6">
                            
                            <select class="form-control" v-model="form.state">
                              <option>Katsina</option>
                              <option>Abuja</option>
                              <option>Lagos</option>
                              <option>Kogi</option>
                              <option>Sokoto</option>
                            </select>
                            <small class="e-text" v-if="errors.state">{{errors.state[0]}}</small>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Local Government</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.lga" placeholder="Local Government">
                            <small class="e-text" v-if="errors.lga">{{errors.lga[0]}}</small>
                        </div>

                    </div>

                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Father's Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.fathers_name" placeholder="Father's Name">
                             <small class="e-text" v-if="errors.fathers_name">{{errors.fathers_name[0]}}</small>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mother's Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.mothers_name" placeholder="Mother's Name">
                            <small class="e-text" v-if="errors.mothers_name">{{errors.mothers_name[0]}}</small>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Next of Kin</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.next_of_kin" placeholder="Next of Kin">
                             <small class="e-text" v-if="errors.next_of_kin">{{errors.next_of_kin[0]}}</small>
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Father's Origin</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.state_origin" placeholder="Father's Origin">
                            <small class="e-text" v-if="errors.state_origin">{{errors.state_origin[0]}}</small>
                        </div>
                        
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone Number</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.phone" placeholder="Phone Number">
                            <small class="e-text" v-if="errors.phone">{{errors.phone[0]}}</small>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email Address</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="form.email" placeholder="Email Address">
                            <small class="e-text" v-if="errors.email">{{errors.email[0]}}</small>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Current Address</label>
                        <div class="col-sm-6">
                            <textarea placeholder="Current Address" class="form-control" v-model="form.current_address"></textarea>
                            <small class="e-text" v-if="errors.current_address">{{errors.current_address[0]}}</small>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Permanent Address</label>
                        <div class="col-sm-6">
                            <textarea placeholder="Permanent Address" class="form-control" v-model="form.permanent_address"></textarea>
                            <small class="e-text" v-if="errors.permanent_address">{{errors.permanent_address[0]}}</small>
                        </div>

                    </div>
                    <div class="form-group"></div>

                    <div class="form-group">
                    <label class="col-sm-3 control-label">Picture</label>
                        <div class="col-sm-6">
                            <input type="file" class="form-control" name="image" v-on:change="onChange">
                            <small class="e-text" v-if="errors.image">{{errors.image[0]}}</small>
                        </div>
                    </div>

                    <div class="form-group"></div>

                     <div class="form-group">
                        <label class="col-sm-3 control-label">Remarks</label>
                        <div class="col-sm-6">
                            <table class="form_table">
                                    <tbody>
                                        <tr v-for="(note, index) in form.notes">
                                            <td :class="['w-12', errors['notes.' + index + '.note'] ? 'e-table' : '']">
                                                <textarea class="form_table-control" v-model="note.note"></textarea>

                                                <span class="form_table-delete">
                                                <button @click="remove('notes', index)">&times;</button>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>
                                                <div class="form_table-btns">
                                                    <a class="btn btn-xs btn-default" @click="addLine('notes')">Add Note</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                        </div>
                    </div>
            <div class="bg-default content-box mrg25T pad20A">
                <label class="col-sm-3 control-label"></label>
                <button class="btn btn-black" type="submit" v-text="button"><div class="ripple-wrapper" ></div></button>
                <input type="hidden" v-model="form.zone_id">
                <a class="btn btn-default" @click="$router.back()">Cancel<div class="ripple-wrapper" ></div> </a> </div>
            
            <br>
            <br>
            <br>
            <br>

            </form>

            </div>
    </div>



    </div>
</template>
<script type="text/javascript">
    import Typeahead from '../../components/Typeahead.vue'
    export default {
        data() {
            return {
                redirect: '/students',
                title: 'Add Student',
                initalize: 'students/create',
                store: 'students',
                method: 'post',
                button: 'Add Student'
            }
        },
        created() {
            if(this.$route.meta.mode === 'edit') {
                this.title = 'Edit Student'
                this.initalize = `students/${this.$route.params.id}/edit`
                this.store = `students/${this.$route.params.id}`
                this.method = 'post'
                this.button = 'Save'
            } else if(this.$route.meta.mode === 'clone') {
                this.title = 'Clone Student'
                this.initalize = `students/${this.$route.params.id}/edit?convert=clone`
                this.store = `students`
                this.method = 'post'
                this.button = 'Clone'
            }
            this.fetchData()
        },
        computed: {
            form() {
                return this.$store.getters.form
            },
            errors() {
                return this.$store.getters.errors
            }
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            addNotes(event) {
                var vm = this
                event.target.value.forEach(function(x) {
                    vm.form.notes.push({
                        note: x.note
                    })
                })
            },
            addLine(type) {
                this.form.notes.push({
                    note: ''
                })
            },
            remove(type, index) {
                // prevent removal of last item
                if(this.form[type].length > 1) {
                    this.form[type].splice(index, 1)
                }
            },
            fetchData() {
                this.$store.dispatch('fetchFormById', {
                    path: this.initalize
                })
            },
            onChange(e){
                var input = e.target
                if (input.files && input.files[0]) {
                    this.form.image = input.files[0]
                }
            },
            submit() {

                var fd = new FormData()
                if(this.form.image && this.$route.meta.mode != 'edit') {
                    fd.append('image', this.form.image)
                    fd.append('regno', this.form.regno)
                    fd.append('zone_id', this.form.zone_id)
                    fd.append('firstname', this.form.firstname)
                    fd.append('middlename', this.form.middlename)
                    fd.append('lastname', this.form.lastname)
                    fd.append('dob', this.form.dob)
                    fd.append('gender', this.form.gender)
                    fd.append('state', this.form.state)
                    fd.append('lga', this.form.lga)
                    fd.append('town', this.form.town)
                    fd.append('permanent_address', this.form.permanent_address)
                    fd.append('current_address', this.form.current_address)
                    fd.append('fathers_name', this.form.fathers_name)
                    fd.append('mothers_name', this.form.mothers_name)
                    fd.append('phone', this.form.phone)
                    fd.append('email', this.form.email)
                    fd.append('state_origin', this.form.state_origin)
                    fd.append('next_of_kin', this.form.next_of_kin)
                    fd.append('notes[]', this.form.notes)
                    if(this.form.notes.length > 0){
                        for (var i = 0; i < this.form.notes.length; i++) {
                            fd.append("notes["+i+"][note]",this.form.notes[i]['note']);
                        }
                    }
                }
                if(this.$route.meta.mode === 'edit') {
                    if(this.form.image){
                        fd.append('image', this.form.image)
                    }
                    fd.append('regno', this.form.regno)
                    fd.append('zone_id', this.form.zone_id)
                    fd.append('firstname', this.form.firstname)
                    fd.append('middlename', this.form.middlename)
                    fd.append('lastname', this.form.lastname)
                    fd.append('dob', this.form.dob)
                    fd.append('gender', this.form.gender)
                    fd.append('state', this.form.state)
                    fd.append('lga', this.form.lga)
                    fd.append('town', this.form.town)
                    fd.append('permanent_address', this.form.permanent_address)
                    fd.append('current_address', this.form.current_address)
                    fd.append('fathers_name', this.form.fathers_name)
                    fd.append('mothers_name', this.form.mothers_name)
                    fd.append('phone', this.form.phone)
                    fd.append('email', this.form.email)
                    fd.append('state_origin', this.form.state_origin)
                    fd.append('next_of_kin', this.form.next_of_kin)
                    fd.append('notes[]', this.form.notes)
                    if(this.form.notes.length > 0){
                        for (var i = 0; i < this.form.notes.length; i++) {
                            fd.append("notes["+i+"][note]",this.form.notes[i]['note']);
                        }
                    }
                }
                this.$store.dispatch('storeById', {
                    form: fd,
                    store: this.store,
                    method: this.method,
                    redirect: this.redirect,
                    router: this.$router
                })
            }
        },
        components: {
            Typeahead
        }
    }
</script>