<template>
    <div class="view">
    <div id="page-title">
                    <h2>Student List</h2> <p>List of all students information.</p>
                </div>
        <index :thead="thead" :resource="resource" :filter="filter">
            <h4 class="title" slot-scope="title">Students</h4>
            <router-link to="/students/create" class="btn btn-danger" slot-scope="create">Add Student</router-link>

            <template slot-scope="props">
                <tr @click="move(props.item)">
                    <td width="4%">{{props.item.id}}</td>
                    <td>{{props.item.regno}}</td>
                    <td>{{props.item.firstname}}</td>
                    <td>{{props.item.middlename}}</td>
                    <td>{{props.item.lastname}}</td>
                    <td width="10%">{{props.item.dob | formatDate}}</td>
                    <td width="1%" class="text-center"><span class="bs-badge badge-azure">{{props.item.gender}}</span></td>
                    <td>{{props.item.fathers_name}}</td>
                    <td>{{props.item.lga}}</td>
                    <td width="1%" class="text-center"><status :id="props.item.status"></status></td>
                </tr>
            </template>
        </index>
    </div>
</template>
<script type="text/javascript">
    import Index from '../../components/Index.vue'
    import Status from '../../components/status/Student.vue'
    export default {
        name: 'StudentIndex',
        data() {
            return {
                resource: 'students',
                title: 'Students',
                thead: [
                    { title: 'ID', key: 'id', sort: true },
                    { title: 'Reg No.', key: 'regno', sort: true },
                    { title: 'Firstname', key: 'firstname', sort: true },
                    { title: 'Middlename', key: 'middlename', sort: true },
                    { title: 'Lastname', key: 'lastname', sort: true },
                    { title: 'DOB', key: 'dob', sort: true },
                    { title: 'Sex', key: 'gender', sort: true },
                    { title: 'Father', key: 'fathers_name', sort: true },
                    { title: 'LGA', key: 'lga', sort: true },
                    { title: 'Status', key: 'status', sort: true }
                ],
                filter: [
                    'id', 'firstname', 'middlename', 'lastname', 'zone_id', 'gender', 'dob', 'regno', 'status', 'created_at',

                    // filter relation
                    'state', 'lga', 'town', 'permanent_address', 'current_address',
                    'fathers_name', 'mothers_name', 'phone', 'email', 'state_origin', 'next_of_kin',
                ]
            }
        },
        watch: {
            '$route': 'fetchData'
        },
        created() {
            this.fetchData()
        },
        methods: {
            move(item) {
                this.$router.push(`/students/${item.id}`)
            },
            fetchData() {
                this.$store.dispatch('fetchIndex', {
                    resource: this.resource
                })
            }
        },
        components: {
            Status,
            Index
        }
    }
</script>