<template>
    <div class="view">
    <div id="page-title">
                    <h2>&nbsp;</h2>
                </div>
        <div class="panel">
            <div class="panel-heading">
                <h4 class="title">Student</h4>
                <div class="panel-controls">
                    <div class="btn-group">
                        <button @click="$router.back()" class="btn btn-default">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <router-link :to="editLink" class="btn btn-default">
                            <i class="fa fa-pencil-square-o"></i>
                        </router-link>
                    </div>
                    <div class="btn-group">
                        <a target="_blank" href="#" class="btn btn-default">
                            <i class="fa fa-file-pdf-o"></i>
                        </a>
                        <a target="_blank" href="#" class="btn btn-default">
                            <i class="fa fa-download"></i>
                        </a>
                        <router-link :to="editLink" class="btn btn-default">
                            <i class="fa fa-envelope-o"></i>
                        </router-link>
                        <a  href="#" class="btn btn-default" @click.prevent="printStudent">
                            <i class="fa fa-print"></i>
                        </a>
                        <dropdown title="More">
                            <dropdown-link :to="registerLink" v-if="model.status === '0'">
                                Mark as Register
                            </dropdown-link>
                            <dropdown-link :to="leftLink" v-if="model.status === '1'">
                                Mark as Pending
                            </dropdown-link>
                            <dropdown-link :to="cloneLink">
                                Clone
                            </dropdown-link>
                            <li class="divider"></li>
                            <li>
                                <a href="#" @click.prevent="deleteStudent">Delete</a>
                            </li>
                        </dropdown>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="document">
                    <h4 id="title-hero">Personal Information</h4>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <img :src="'/upload/images/' + model.image" alt="" style="width: 120px; height: 120px;  border-radius: 50%; margin: 0 auto; padding: 0; float: right;">
                        </div>
                    </div>
                    <br>
                    <div class="divider"></div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Firstname</label>
                            <p>{{model.firstname}}</p>
                            <label>Middlename</label>
                            <p>{{model.middlename}}</p>
                            <label>Lastname</label>
                            <p>{{model.lastname}}</p>
                        </div>
                        <div class="col-sm-4">
                            <label>Registration No.</label>
                            <p>{{model.regno}}</p>
                            <label>Sex</label>
                            <p v-if="model.gender == 'M'"><span class="bs-label label-azure">Male</span></p>
                            <p v-if="model.gender == 'F'"><span class="bs-label label-azure">Female</span></p>
                            <label>Date of Birth</label>
                            <p>{{model.dob | formatDate}}</p>
                        </div>
                        <div class="col-sm-4">
                            <label>Email Address</label>
                            <p>{{model.email}}</p>
                            <label>Status</label>
                            <p><span class="bs-label label-success" v-if="model.status == '1'">Registered</span><span class="bs-label label-danger" v-if="model.status == '0'">Left</span></p>
                            <label>Phone Number</label>
                            <p>{{model.phone}}</p>
                        </div>
                    </div>
                    <br>
                    <div class="divider"></div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Place of Origin</label>
                            <p>{{model.town}}</p>
                            <label>Local Government</label>
                            <p>{{model.lga}}</p>
                            <label>State</label>
                            <p>{{model.state}}</p>
                        </div>
                        <div class="col-sm-4">
                            <label>Father's Name</label>
                            <p>{{model.fathers_name}}</p>
                            <label>Mother's Name</label>
                            <p>{{model.mothers_name}}</p>
                            <label>Father's Origin</label>
                            <p>{{model.state_origin}}</p>
                        </div>
                        <div class="col-sm-4">
                           <label>Current Address</label>
                            <pre>{{model.current_address}}</pre>
                            <label>Permanent Address</label>
                            <pre>{{model.permanent_address}}</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="document-terms">
                                <h4 id="title-hero">Remarks</h4>
                                <ul>
                                    <li v-for="note in model.notes">
                                        <small>{{note.note}}</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script type="text/javascript">
    import Dropdown from '../../components/Dropdown.vue'
    import DropdownLink from '../../components/DropdownLink.vue'
    import Status from '../../components/status/Student.vue'
    export default {
        name: 'StudentShow',
        components: {
            DropdownLink,
            Dropdown,
            Status
        },
        data() {
            return {
                redirect: '/students',
                method: 'delete'
            }
        },
        created() {
            this.fetchData()
        },
        watch: {
            '$route': 'fetchData'
        },
        computed: {
            model() {
                return this.$store.getters.model
            },
            editLink() {
                return `/students/${this.model.id}/edit`
            },
            studentLink() {
                return `/students/${this.model.id}/student`
            },
            registerLink() {
                return `/students/${this.model.id}/status/register`
            },
            leftLink() {
                return `/students/${this.model.id}/status/left`
            },
            cloneLink() {
                return `/students/${this.model.id}/clone`
            }
        },
        methods: {
            fetchData() {
                this.$store.dispatch('fetchById', {
                    path: `students/${this.$route.params.id}`
                })
            },
            deleteStudent() {
                var vm = this;

                swal({
                  title: 'Are you sure?',
                  text: "Your will not be able to recover this student!",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete!',
                  confirmButtonClass: 'btn btn-danger',
                  cancelButtonClass: 'btn btn-default',
                  buttonsStyling: false
                }).then(function () {
                   vm.$store.dispatch('deleteById', {
                        path: `students/${vm.$route.params.id}`,
                        method: vm.method
                   })
                   vm.$router.push(vm.redirect)
                })
            },
            printStudent() {
                window.print();
            }
        }
    }
</script>