<template>
    <span>
        <span v-if="id === '0'" class="bs-badge badge-danger">P</span>
        <span v-else-if="id === '1'" class="bs-badge badge-success">R</span>
    </span>
</template>
<script type="text/javascript">
    export default {
        props: ['id']
    }
</script>