.panel {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.115);
    background: white;
    margin-bottom: 15px;
    border-radius: 2px;
    &-heading {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $light_border;
    }
    &-title {
        font-size: 18px;
    }
    &-controls {

    }
    &-body {
        padding: 15px;
    }
    &-footer {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px solid $light_border;
    }
    &-footer_center {
        justify-content: space-between;
    }
}

.font-black{color:#464646!important}.font-blue{color:#2196F3!important}.font-blue-alt{color:#3F51B5!important}.font-azure{color:#00BCD4!important}.font-gray,.text-muted{color:#c2c2c2!important}.font-gray-dark,.text-info{color:#828282!important}.font-green,.text-success{color:#4CAF50!important}.font-orange,.text-warning{color:#FF5722!important}.font-yellow{color:#FFEB3B!important}.font-purple{color:#673AB7!important}.font-red,.has-error .help-block,.parsley-required,.text-danger{color:#F44336!important}.font-white{color:#fff!important}.alert-info,.alert-info a{color:#6c6c6c;border-color:#c9c9c9;background:#dfe8f1}.alert-notice,.alert-notice a{color:#0f2c62;border-color:#62baf6;background:#c6e8ff}.alert-success,.alert-success a,.parsley-success{color:#1e620f;border-color:#7cd362;background:#d3ffc6}.parsley-success{background:#fff}.alert-warning,.alert-warning a,.warning{color:#624b0f;border-color:#ebc875;background:#ffeec6}.alert-danger,.alert-danger a,.danger,.parsley-error{color:#620f0f;border-color:#db6a6a;background:#ffc6c6}.parsley-error{background:#fff}.bg-facebook{color:#fff!important;background:#3b5998}.btn.bg-facebook:hover{background:#304b85}.bg-twitter{color:#fff!important;background:#3a92c8}.btn.bg-twitter:hover{background:#2b80b4}.bg-google{color:#fff!important;background:#dd4b39}.btn.bg-google:hover{background:#c93b2a}.badge-info,.bg-blue,.bootstrap-switch-info,.btn-info,.checkbox-info div[id^=uniform-] span.checked,.hover-blue:hover,.hover-info:hover,.label-info,.progress-bar-info,.radio-info div[id^=uniform-] span.checked{color:#fff;border-color:#1489e6;background:#2196F3}.btn-info.active,.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info:active,.btn-info:focus,.btn-info:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,.label-info[href]:focus,.label-info[href]:hover,.open .dropdown-toggle.btn-info{color:#fff;border-color:#1489e6;background:#2ea3ff}.badge-danger,.bg-danger,.bg-red,.bootstrap-switch-danger,.btn-danger,.checkbox-danger div[id^=uniform-] span.checked,.hover-danger:hover,.hover-red:hover,.label-danger,.progress-bar-danger,.radio-danger div[id^=uniform-] span.checked{color:#fff;border-color:#e73629;background:#F44336}.btn-danger.active,.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.btn-danger[disabled],.btn-danger[disabled].active,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,.label-danger[href]:focus,.label-danger[href]:hover,.open .dropdown-toggle.btn-danger{color:#fff;border-color:#e73629;background:#ff5043}.badge-gray,.bg-gray,.btn-gray,.hover-gray:hover,.label-gray{color:#666;background:#efefef}.btn-gray.active,.btn-gray.disabled,.btn-gray.disabled.active,.btn-gray.disabled:active,.btn-gray.disabled:focus,.btn-gray.disabled:hover,.btn-gray:active,.btn-gray:focus,.btn-gray:hover,.btn-gray[disabled],.btn-gray[disabled].active,.btn-gray[disabled]:active,.btn-gray[disabled]:focus,.btn-gray[disabled]:hover,.label-gray[href]:focus,.label-gray[href]:hover,.open .dropdown-toggle.btn-gray{color:#333;background:#e7e7e7}.badge-gray-alt,.bg-gray-alt,.btn-gray-alt,.hover-gray-alt:hover,.label-gray-alt{color:#888;background:#f6f6f6}.btn-gray-alt.active,.btn-gray-alt.disabled,.btn-gray-alt.disabled.active,.btn-gray-alt.disabled:active,.btn-gray-alt.disabled:focus,.btn-gray-alt.disabled:hover,.btn-gray-alt:active,.btn-gray-alt:focus,.btn-gray-alt:hover,.btn-gray-alt[disabled],.btn-gray-alt[disabled].active,.btn-gray-alt[disabled]:active,.btn-gray-alt[disabled]:focus,.btn-gray-alt[disabled]:hover,.label-gray-alt[href]:focus,.label-gray-alt[href]:hover,.open .dropdown-toggle.btn-gray-alt{color:#444;background:#ededed}.badge-black,.bg-black,.btn-black,.hover-black:hover,.label-black{color:#ccc;border-color:#000;background:#272634}.boxed-layout.bg-black{background:#272634}.btn-black.active,.btn-black.disabled,.btn-black.disabled.active,.btn-black.disabled:active,.btn-black.disabled:focus,.btn-black.disabled:hover,.btn-black:active,.btn-black:focus,.btn-black:hover,.btn-black[disabled],.btn-black[disabled].active,.btn-black[disabled]:active,.btn-black[disabled]:focus,.btn-black[disabled]:hover,.label-black[href]:focus,.label-black[href]:hover,.open .dropdown-toggle.btn-black{color:#fdfdfd;background:#151515}.badge-black-opacity,.bg-black-opacity,.btn-black-opacity,.hover-black-opacity:hover,.label-black-opacity{color:#a9b3bb;background:#2b323d}.btn-black-opacity.active,.btn-black-opacity.disabled,.btn-black-opacity.disabled.active,.btn-black-opacity.disabled:active,.btn-black-opacity.disabled:focus,.btn-black-opacity.disabled:hover,.btn-black-opacity:active,.btn-black-opacity:focus,.btn-black-opacity:hover,.btn-black-opacity[disabled],.btn-black-opacity[disabled].active,.btn-black-opacity[disabled]:active,.btn-black-opacity[disabled]:focus,.btn-black-opacity[disabled]:hover,.label-black-opacity[href]:focus,.label-black-opacity[href]:hover,.open .dropdown-toggle.btn-black-opacity{color:#fff;background:#14171c}.badge-black-opacity-alt,.bg-black-opacity-alt,.btn-black-opacity-alt,.hover-black-opacity-alt:hover,.label-black-opacity-alt{color:#fff;background:rgba(0,0,0,.2);border-color:transparent}.btn-black-opacity-alt.active,.btn-black-opacity-alt.disabled,.btn-black-opacity-alt.disabled.active,.btn-black-opacity-alt.disabled:active,.btn-black-opacity-alt.disabled:focus,.btn-black-opacity-alt.disabled:hover,.btn-black-opacity-alt:active,.btn-black-opacity-alt:focus,.btn-black-opacity-alt:hover,.btn-black-opacity-alt[disabled],.btn-black-opacity-alt[disabled].active,.btn-black-opacity-alt[disabled]:active,.btn-black-opacity-alt[disabled]:focus,.btn-black-opacity-alt[disabled]:hover,.label-black-opacity-alt[href]:focus,.label-black-opacity-alt[href]:hover,.open .dropdown-toggle.btn-black-opacity-alt{color:#fff;background:rgba(0,0,0,.3)}.badge-success,.bg-green,.bootstrap-switch-success,.btn-success,.checkbox-success div[id^=uniform-] span.checked,.hover-green:hover,.hover-success:hover,.label-success,.progress-bar-success,.radio-success div[id^=uniform-] span.checked{color:#fff;border-color:#3fa243;background:#4CAF50}.btn-success.active,.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success:active,.btn-success:focus,.btn-success:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,.label-success[href]:focus,.label-success[href]:hover,.open .dropdown-toggle.btn-success{color:#fff;border-color:#3fa243;background:#59bc5d}.badge-warning,.bg-orange,.bg-warning,.bootstrap-switch-warning,.btn-warning,.checkbox-warning div[id^=uniform-] span.checked,.hover-orange:hover,.hover-warning:hover,.label-warning,.progress-bar-warning,.radio-warning div[id^=uniform-] span.checked{color:#fff;border-color:#f24a15;background:#FF5722}.btn-warning.active,.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.btn-warning[disabled],.btn-warning[disabled].active,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,.label-warning[href]:focus,.label-warning[href]:hover,.open .dropdown-toggle.btn-warning{color:#fff;border-color:#f24a15;background:#ff642f}.bg-white,.label-white,.table{background:#fff}.bg-white-opacity{background:rgba(255,255,255,.85)}.hover-white:hover{background:#fafafa}.badge-yellow,.bg-yellow,.btn-yellow,.hover-yellow:hover,.label-yellow{color:#212121;background:#FFEB3B;border-color:#f2de2e}.btn-yellow.active,.btn-yellow.disabled,.btn-yellow.disabled.active,.btn-yellow.disabled:active,.btn-yellow.disabled:focus,.btn-yellow.disabled:hover,.btn-yellow:active,.btn-yellow:focus,.btn-yellow:hover,.btn-yellow[disabled],.btn-yellow[disabled].active,.btn-yellow[disabled]:active,.btn-yellow[disabled]:focus,.btn-yellow[disabled]:hover,.label-yellow[href]:focus,.label-yellow[href]:hover,.open .dropdown-toggle.btn-yellow{color:#212121;background:#fff848;border-color:#f2de2e}.badge-purple,.bg-purple,.btn-purple,.hover-purple:hover,.label-purple{color:#fff;background:#673AB7;border-color:#5a2daa}.btn-purple.active,.btn-purple.disabled,.btn-purple.disabled.active,.btn-purple.disabled:active,.btn-purple.disabled:focus,.btn-purple.disabled:hover,.btn-purple:active,.btn-purple:focus,.btn-purple:hover,.btn-purple[disabled],.btn-purple[disabled].active,.btn-purple[disabled]:active,.btn-purple[disabled]:focus,.btn-purple[disabled]:hover,.label-purple[href]:focus,.label-purple[href]:hover,.open .dropdown-toggle.btn-purple{color:#fff;background:#7447c4;border-color:#5a2daa}.badge-blue-alt,.bg-blue-alt,.btn-blue-alt,.hover-blue-alt:hover,.label-blue-alt{color:#fff;background:#3F51B5;border-color:#3244a8}.btn-blue-alt.active,.btn-blue-alt.disabled,.btn-blue-alt.disabled.active,.btn-blue-alt.disabled:active,.btn-blue-alt.disabled:focus,.btn-blue-alt.disabled:hover,.btn-blue-alt:active,.btn-blue-alt:focus,.btn-blue-alt:hover,.btn-blue-alt[disabled],.btn-blue-alt[disabled].active,.btn-blue-alt[disabled]:active,.btn-blue-alt[disabled]:focus,.btn-blue-alt[disabled]:hover,.label-blue-alt[href]:focus,.label-blue-alt[href]:hover,.open .dropdown-toggle.btn-blue-alt{color:#fff;background:#4c5ec2;border-color:#3244a8}.badge-azure,.bg-azure,.btn-azure,.hover-azure:hover,.label-azure{color:#fff;background:#00BCD4;border-color:#00afc7}.btn-azure.active,.btn-azure.disabled,.btn-azure.disabled.active,.btn-azure.disabled:active,.btn-azure.disabled:focus,.btn-azure.disabled:hover,.btn-azure:active,.btn-azure:focus,.btn-azure:hover,.btn-azure[disabled],.btn-azure[disabled].active,.btn-azure[disabled]:active,.btn-azure[disabled]:focus,.btn-azure[disabled]:hover,.label-azure[href]:focus,.label-azure[href]:hover,.open .dropdown-toggle.btn-azure{color:#fff;background:#0dc9e1;border-color:#00afc7}.border-black{border-color:#212121!important}.border-blue{border-color:#2196F3!important}.border-blue-alt{border-color:#3F51B5!important}.border-azure{border-color:#00BCD4!important}.border-gray{border-color:#c2c2c2!important}.border-gray-dark{border-color:#828282!important}.border-green{border-color:#4CAF50!important}.border-orange{border-color:#FF5722!important}.border-yellow{border-color:#FFEB3B!important}.border-purple{border-color:#673AB7!important}.border-red{border-color:#F44336!important}.parsley-success{border-color:#4CAF50!important}.parsley-error{border-color:#F44336!important}

.btn,.fc-button{font-size:12px;position:relative;display:inline-block;padding:0 12px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-o-user-select:none;text-transform:uppercase;font-weight:700;text-align:center;white-space:nowrap;border-width:1px;border-style:solid;border-color:transparent;background-image:none}.btn:hover{box-shadow:0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19)}.btn-flat:hover{box-shadow:0 0 0 transparent}.btn,.fc-button,.size-md{line-height:32px;height:34px;min-width:34px}.btn-abs{position:absolute;top:50%;right:0;margin-top:-17px}.btn.hover-round:hover{border-radius:100px}.btn.active,.btn:active,.fc-state-active,.fc-state-down,.ui-datepicker .ui-datepicker-buttonpane button:active,.ui-datepicker .ui-datepicker-next:active,.ui-datepicker .ui-datepicker-prev:active,.ui-dialog .ui-dialog-titlebar-close:active,.ui-dialog-buttonset button:active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],.disabled,.fc-state-disabled,fieldset[disabled] .btn{cursor:not-allowed;pointer-events:none;opacity:.65;-webkit-box-shadow:none;box-shadow:none;filter:alpha(opacity=65)}.btn-link{cursor:pointer;border-radius:0}.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}.btn-link:focus,.btn-link:hover{text-decoration:underline;background-color:transparent}.btn-group-lg>.btn,.btn-lg,.size-lg{line-height:44px;min-width:56px;height:46px}.btn-lg-abs{margin-top:-23px}.btn-group-lg>.btn,.btn-lg{font-size:15px;padding:0 16px}.btn-group-sm>.btn,.btn-sm,.size-sm{line-height:28px;height:30px}.btn-sm-abs{margin-top:-15px}.btn-group-sm>.btn,.btn-sm{font-size:13px;padding:0 10px}.btn-group-xs>.btn,.btn-xs,.size-xs{line-height:20px;min-width:22px;height:22px}.btn-xs-abs{margin-top:-11px}.btn-group-xs>.btn,.btn-xs{font-size:10px;padding:0 5px}.btn .caret{margin-left:0}.btn-lg .caret{border-width:5px 5px 0}.dropup .btn-lg .caret{border-width:0 5px 5px}.btn-block{display:block;width:100%;padding-right:0;padding-left:0}.btn-block+.btn-block{margin-top:5px}input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block{width:100%}.btn-group,.btn-group-vertical{position:relative;display:inline-block;vertical-align:middle}.btn-group-vertical>.btn,.btn-group>.btn{position:relative;float:left}.btn-group-vertical>.btn.active,.btn-group-vertical>.btn:active,.btn-group-vertical>.btn:focus,.btn-group-vertical>.btn:hover,.btn-group>.btn.active,.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover{z-index:2}.btn-group-vertical>.btn:focus,.btn-group>.btn:focus{outline:0}.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group{margin-left:-1px}.btn-toolbar{margin-left:-5px}.btn-toolbar .btn-group,.btn-toolbar .input-group{float:left}.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group{margin-left:10px}.btn-group>.btn:first-child{margin-left:0}.btn-group>.btn-group{float:left}.btn-group>.btn+.dropdown-toggle{padding-right:8px;padding-left:8px}.btn-group>.btn-lg+.dropdown-toggle{padding-right:12px;padding-left:12px}.btn-group.open .dropdown-toggle{-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn-group.open .dropdown-toggle.btn-link{-webkit-box-shadow:none;box-shadow:none}.btn-group-vertical>.btn,.btn-group-vertical>.btn-group,.btn-group-vertical>.btn-group>.btn{display:block;float:none;width:100%;max-width:100%}.btn-group-vertical>.btn-group>.btn{float:none}.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group{margin-top:-1px;margin-left:0}.btn-group-justified{display:table;width:100%;table-layout:fixed;border-collapse:separate}.btn-group-justified>.btn,.btn-group-justified>.btn-group{display:table-cell;float:none}.btn-group-justified>.btn-group .btn{width:100%}.btn-group-vertical>.btn:not(:first-child):not(:last-child){border-radius:0}.btn-group-vertical>.btn:first-child:not(:last-child){border-top-right-radius:3px;border-bottom-right-radius:0;border-bottom-left-radius:0}.btn-group-vertical>.btn:last-child:not(:first-child){border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:3px}.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn,.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn,.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){border-radius:0}.btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle{border-bottom-right-radius:0;border-bottom-left-radius:0}.btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child{border-top-left-radius:0;border-top-right-radius:0}.btn-group>.btn-group:first-child>.btn:last-child,.btn-group>.btn-group:first-child>.dropdown-toggle,.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){border-top-right-radius:0;border-bottom-right-radius:0}.btn-group>.btn-group:last-child>.btn:first-child,.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0}.pagination{display:inline-block;padding-left:0}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{line-height:1.42857143;position:relative;float:left;margin-left:-1px;padding:6px 12px;text-decoration:none;border-width:1px;border-style:solid}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:2}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0}.pagination-lg>li>a,.pagination-lg>li>span{font-size:18px;padding:10px 16px}.pagination-sm>li>a,.pagination-sm>li>span{font-size:12px;padding:5px 10px}.pager{margin-top:0;padding-left:0;list-style:none;text-align:center}.pager li{display:inline}.pager li>a,.pager li>span{display:inline-block;padding:5px 14px;border:1px solid #ddd;border-radius:15px;background-color:#fff}.pager li>a:focus,.pager li>a:hover{text-decoration:none;background-color:#eee}.pager .next>a,.pager .next>span{float:right}.pager .previous>a,.pager .previous>span{float:left}.pager .disabled>a,.pager .disabled>a:focus,.pager .disabled>a:hover,.pager .disabled>span,.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{cursor:not-allowed;color:#999;background-color:#fff}.btn>.icon-separator{position:absolute;top:0;left:0;width:32px;height:100%;border-top-right-radius:0!important;border-bottom-right-radius:0!important;border-bottom-left-radius:0!important}.icon-separator+.button-content{margin-left:32px}.btn-xs .icon-separator{width:22px}.btn-xs .icon-separator+.button-content{margin-left:22px}.btn-sm .icon-separator{width:25px}.btn-sm .icon-separator+.button-content{margin-left:25px}.btn-lg .icon-separator{width:44px}.btn-lg .icon-separator+.button-content{margin-left:44px}.icon-separator.float-right{border-top-left-radius:0!important;border-bottom-right-radius:0!important;border-bottom-left-radius:0!important}.vertical-button{line-height:1.6em;height:auto;padding:10px 0 5px;font-size:11px}.vertical-button .button-content{opacity:.7;filter:alpha(opacity=70)}.icon-separator-vertical{font-size:25px;display:block;margin:5px auto}.dashboard-buttons .btn{width:93px;margin:5px 3px}.btn-outline,.btn-outline-inverse{display:inline-block;text-align:center;color:#fff;box-sizing:initial;border-width:2px;border-style:solid;text-transform:uppercase}.btn-outline-inverse{border-color:rgba(255,255,255,.47)}.btn-outline-inverse:hover{background:rgba(255,255,255,.2);border-color:#fff}.btn-outline-inverse.hero-btn{color:#fff}.btn-outline{color:rgba(0,0,0,.8);border-color:rgba(0,0,0,.6)}.btn-outline:hover{color:#fff;border-color:rgba(0,0,0,.8);background:rgba(0,0,0,.8)}.btn.btn-round{border-radius:150px;padding:0}.btn-round.btn-lg{width:46px;min-width:46px}.btn-round.btn-xlg{width:66px;min-width:66px;height:66px;line-height:66px}.btn-round.btn-xlg .glyph-icon{font-size:24px}.btn-round.btn-md{width:34px}.btn-round.btn-sm{width:30px}.btn-round.btn-xs{width:22px}.btn-alt{font-weight:700;text-transform:uppercase;font-size:12px}.btn-hover span{padding:0 20px;left:0;position:relative;transition:opacity .2s ease-out,left .2s ease-out;-webkit-transition:opacity .2s ease-out,left .2s ease-out}.btn-hover .glyph-icon{opacity:0;-ms-filter:"alpha(opacity=0)";position:absolute;right:20px;transition:all .2s ease-out;-webkit-transition:all .2s ease-out}.btn-hover:hover .glyph-icon{opacity:1;right:15px;-ms-filter:"alpha(opacity=100)"}.btn-hover:hover span{left:-15px}.btn-border{border-width:2px;border-style:solid}.btn-border span{opacity:.75;filter:alpha(opacity=75)}.btn-border:hover{text-decoration:none}.btn-border:hover span{opacity:1;filter:alpha(opacity=100)}



