@page {
  size: A4;
  margin: 0;
}
@media print {
	  html, body {
	    width: 210mm;
	    height: 297mm;
	  }
	 
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	        float: left;
	   }
	   .col-sm-12 {
	        width: 100%;
	   }
	   .col-sm-11 {
	        width: 91.66666667%;
	   }
	   .col-sm-10 {
	        width: 83.33333333%;
	   }
	   .col-sm-9 {
	        width: 75%;
	   }
	   .col-sm-8 {
	        width: 66.66666667%;
	   }
	   .col-sm-7 {
	        width: 58.33333333%;
	   }
	   .col-sm-6 {
	        width: 50%;
	   }
	   .col-sm-5 {
	        width: 41.66666667%;
	   }
	   .col-sm-4 {
	        width: 33.33333333%;
	   }
	   .col-sm-3 {
	        width: 25%;
	   }
	   .col-sm-2 {
	        width: 16.66666667%;
	   }
	   .col-sm-1 {
	        width: 8.33333333%;
	   }
	   .col-sm-4 p{
	   	font-size: 10px;
	   }
	.form-row, .row {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin-right: -10px;
	    margin-left: -10px;
	}
	#page-sidebar, #page-header{
		display: none;
	}
	#page-content{
		width: 100%;
		margin: 0;
		padding: 0;
	}
}