<template>
    <div id="root" class="root">
        <div class="message-container">
             <flash-message></flash-message>
        </div>
        <div id="mobile-navigation"><button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button></div>
        <div id="page-sidebar" style="height: 735px;" class="">
         <div id="header-logo" class="logo-bg">
            <router-link to="/" class="logo-content-big" title="Students">
                Dev <i>crew</i> <span>Student Information</span>
            </router-link>
            <router-link to="/" class="logo-content-small" title="Students">
                Dev<i>crew </i> <span>Student Information</span>
            </router-link>
            <a id="close-sidebar" href="#" title="Close sidebar"><i class="glyph-icon icon-outdent"></i></a>
            </div>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                <div class="scroll-sidebar" style="height: 675px; overflow: hidden; width: auto;">
                    <ul id="sidebar-menu" class="sf-js-enabled sf-arrows" v-for="(group, index) in groups">
                        <li class="header"><span>{{group.title}}</span></li>
                        <li v-for="item in group.links">
                            <router-link :to="item.path" class="sidebar-link">
                                <i :class="['glyph-icon fa', item.icon]"></i>
                                <span>{{item.title}}</span>
                            </router-link>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div id="page-content" style="min-height: 793px;">
                <div id="page-header">
                    <div id="header-nav-left">
                        <a class="header-btn" id="logout-btn" href="/logout" title="Lockscreen page example"><i class="glyph-icon fa fa-sign-out" aria-hidden="true"></i></a>

                        <div class="user-account-btn dropdown">
                            
                            <a href="#" @click.prevent="gotoProfile" title="My Account" class="user-profile clearfix" data-toggle="dropdown" aria-expanded="false"><img width="28" :src="'/upload/images/' + user.image" alt="Profile image"> <span>{{user.firstname}} {{user.lastname}}</span></a>
                        </div>
                    </div>
                    <div id="header-nav-right">
                        <a href="#" class="hdr-btn" id="fullscreen-btn" title="Fullscreen"><i class="glyph-icon icon-arrows-alt"></i></a>
                        
                    </div>
                </div>


                <div class="row">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    import axios from 'axios'
    import isLoggedMixin from '../helpers/mixins'

    export default {
        mixins: [isLoggedMixin],
        data() {
            return {
                user: false,
                groups: [
                {
                    title: 'Overview',
                    links: [
                    { title: 'Dashboard', path: '/', icon: 'fa-desktop' },
                    ]
                },
                {
                    title: 'Students',
                    links: [
                    { title: 'Add Students', path: '/students/create', icon: 'fa-user-plus' },
                    { title: 'List Students', path: '/students', icon: 'fa-users' },
                    ]
                },
                // {
                //     title: 'Utilities',
                //     links: [
                //     { title: 'Export Students', path: '/export', icon: 'fa-cloud-download' },
                //     ]
                // },
                {
                    title: 'Settings',
                    links: [
                    { title: 'Profile Settings', path: '/profile', icon: 'fa-cogs' },
                    { title: 'Change Password', path: '/change-password', icon: 'fa-key' },

                    ]
                }
                ]
            }
        },
        created() {
            this.checkIfLogged()
                    .then(response => {
                            this.user = response ? response : false;
                        })
                    .catch(error => this.errors = error);
        },
        computed: {
            notLoading() {
                return !this.$store.state.loading
            }
        },
        methods: {
              gotoProfile () {
                 this.$router.push(
                    {
                      path: '/profile',
                    }
                 )
             }
        }
    }
</script>
