<template>
    <div class="view">
    <div id="page-title">
        <h2>Change Password</h2> <p>Set new profile password.</p>
    </div>
    <div class="panel">
            <div class="panel-heading">
                <h4 class="title">{{title}}</h4>
                <div class="btn-group">
                        <button @click="$router.back()" class="btn btn-default">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                </div>
            </div>
            <div class="panel-body">

                <form @submit.prevent="submit" class="form-horizontal bordered-row">


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Old Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" v-model="user.password" placeholder="Old Password">
                            <small class="e-text" v-if="errors.password">{{errors.password[0]}}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">New Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" v-model="newpassword" placeholder="New Password">
                            <small class="e-text" v-if="errors.newpassword">{{errors.newpassword[0]}}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Confirm New Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" v-model="cnewpassword" placeholder="Confirm New Password">
                            <small class="e-text" v-if="errors.cnewpassword">{{errors.cnewpassword[0]}}</small>
                        </div>

                    </div>

                   

              <div class="bg-default content-box mrg25T pad20A">
                <label class="col-sm-3 control-label"></label>
                <button class="btn btn-black" type="submit" v-text="button"><div class="ripple-wrapper" ></div></button>
                <a class="btn btn-default" @click="$router.back()">Cancel<div class="ripple-wrapper" ></div> </a>
              </div>

            <br>
            <br>
            <br>
            <br>

            </form>
        </div>
    </div>
    </div>
</template>
<script type="text/javascript">
  import axios from 'axios'
  import Vue from 'vue';
  import VueFlashMessage from 'vue-flash-message';

  Vue.use(VueFlashMessage);

  const template = `
    <div
      v-for="(message, index) in storage"
      :key="index"
    >
      <div class="flash__message-content" v-html="message.content"></div>
    </div>
  `;
  Vue.use(VueFlashMessage, { template });

  import Typeahead from '../../components/Typeahead.vue'
  import isLoggedMixin from '../../helpers/mixins'
  export default {
      mixins: [isLoggedMixin],
      data() {
          return {
              redirect: '/change-password',
              title: '',
              initalize: 'user/changepassword',
              user: false,
              button: 'Change',
              errors: {},
              newpassword: '',
              cnewpassword: '',

          }
      },
      created() {
          this.checkIfLogged()
            .then(response => {
              this.user = response ? response : false;
            })
            .catch(error => this.errors = error);
      },
      methods: {
          
          submit() {

            this.errors = {}

            let vm = this

            let fd = new FormData()

                  fd.append('password', this.user.password)
                  fd.append('newpassword', this.newpassword)
                  fd.append('cnewpassword', this.cnewpassword)
                  

              axios.post(`/api/${this.initalize}`, fd)
                  .then(response => {
                      this.flash(`
                        <div class="message-content message-success">
                          <div class="message-icon"><i class="glyph-icon fa fa-check-square-o"></i></div>
                          <div class="message-text"> Password changed successfully!</div>
                        </div>
                        `, 'success', {
                        timeout: 3000
                      });
                      this.$router.push(this.redirect) 
                  })
                  .catch(error => {
                    console.log(error.response)
                    if(error.response.status === 422) {
                      vm.errors = error.response.data
                    }
                  });
          }
      },
      components: {
          Typeahead
      }
  }
</script>