<template>
    <div class="view">
    <div id="page-title"><h2>Dashboard</h2><p>Student management and information system</p></div>


    <div class="row">
       <div class="col-md-8">
          <div class="row">
             <div class="col-md-3">
                <a href="#" title="All Students" class="tile-box tile-box-shortcut" style="background: #EFB6B6; color: #fff; border-color: #ed9a9a;">
                   <span class="bs-badge badge-absolute">{{counters.total}}</span>
                   <div class="tile-header">All Students</div>
                   <div class="tile-content-wrapper"><i class="glyph-icon fa fa-users"></i></div>
                </a>
             </div>
             <div class="col-md-3">
                <a href="#" title="Registered Students" class="tile-box tile-box-shortcut" style="background: #A6DFCC; color: #fff; border-color: #85ddc0">
                   <span class="bs-badge badge-absolute">{{counters.registered}}</span>
                   <div class="tile-header">Registered Students</div>
                   <div class="tile-content-wrapper"><i class="glyph-icon fa fa-check-square-o"></i></div>
                </a>
             </div>
             <div class="col-md-3">
                <a href="#" title="Graduated Students" class="tile-box tile-box-shortcut" style="background: #CCE3FA; color: #fff; border-color: #aed4f9;">
                   <span class="bs-badge badge-absolute">{{counters.left}}</span>
                   <div class="tile-header">Pending Students</div>
                   <div class="tile-content-wrapper"><i class="glyph-icon fa fa-window-close"></i></div>
                </a>
             </div>
             <div class="col-md-3">
                <a href="#" title="Users" class="tile-box tile-box-shortcut" style="background: #F7D6C7; color: #fff; border-color: #f4c6b2;">
                   <span class="bs-badge badge-absolute">{{counters.users}}</span>
                   <div class="tile-header">Users</div>
                   <div class="tile-content-wrapper"><i class="glyph-icon fa fa-desktop"></i></div>
                </a>
             </div>
          </div>
     
       <div class="panel mrg20T">
         <div class="panel-body">
            <h3 class="title-hero">Local Government</h3>
            <div class="example-box-wrapper">

                 <bar-chart-lga  />

            </div>
         </div>
      </div> 

       <div class="panel mrg20T">
         <div class="panel-body">
            <h3 class="title-hero">Zones</h3>
            <div class="example-box-wrapper" style="height: 450px">

               <bar-chart />

            </div>
         </div>
      </div>

   </div>
   <div class="col-md-4">
      <div class="dashboard-box dashboard-box-chart bg-white content-box">
         <div class="content-wrapper">
            <div class="example-box-wrapper">

            <pie-chart />

            </div>
         </div>
         <div class="button-pane">
            <div class="size-md float-left"><a href="#" title="">Gender</a></div>
            <a href="#" class="btn btn-black-opacity float-right tooltip-button" data-placement="top" title="" data-original-title="Gender"><i class="glyph-icon icon-caret-right"></i></a>
         </div>
      </div>
      <div class="content-box animated" style="display: block;">
         <h3 class="content-box-header bg-default"><i class="glyph-icon fa fa-bullhorn"></i> Announcement <span class="header-buttons-separator"><a href="#" class="icon-separator remove-button" data-animation="flipOutX"><i class="glyph-icon icon-times"></i></a></span></h3>
         <div class="content-box-wrapper pad0A">
            <div class="mrg20A">
               <div class="row">
                  <div class="col-md-7 pad0A">
                   <ul>
                        <li>All zones meetings are now shifted to friday next week.</li>
                   </ul>
                  </div>
               </div>
            </div>

         </div>
      </div>

   </div>
</div>

</div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    import { getCount } from '../../api'
    import PieChart from '../../components/charts/Pie'
    import BarChart from '../../components/charts/Bar'
    import BarChartLga from '../../components/charts/BarLga'
    export default {
        name: 'Dashboard',
        data() {
            return {
                counters: {}
            }
        },
        watch: {
            '$route': 'fetchData'
        },
        created() {
            this.fetchData()
        },
        methods: {
            fetchData() {
                var vm = this
                getCount(`students/counters`, function(data) {
                    Vue.set(vm.$data, 'counters', data.counters)
                }, function(error) {
                    console.log(error);
                })

                // this.$store.dispatch('fetchCounter', {
                //     path: 'students/counters'
                // })
            }
        },
        components: {
            PieChart,
            BarChart,
            BarChartLga
        }
    }
</script>