<template>
    <div class="view">
    <div id="page-title">
        <h2>Profile Settings</h2> <p>Edit user profile information.</p>
    </div>
    <div class="panel">
            <div class="panel-heading">
                <h4 class="title">{{title}}</h4>
                <div class="btn-group">
                        <button @click="$router.back()" class="btn btn-default">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                </div>
            </div>
            <div class="panel-body">
<div class="row">
 <div class="col-sm-3"></div>
               <div class="col-sm-6">
                            <img :src="'/upload/images/' + user.image" alt="" style="width: 120px; height: 120px;  border-radius: 50%; margin: 0 auto; padding: 0; float: right;">
                        </div>
                        </div>
                <form @submit.prevent="submit" class="form-horizontal bordered-row" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Username</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="user.username" placeholder="Username" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">First name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="user.firstname" placeholder="First name">
                            <small class="e-text" v-if="errors.firstname">{{errors.firstname[0]}}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Last name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="user.lastname" placeholder="Last name">
                            <small class="e-text" v-if="errors.lastname">{{errors.lastname[0]}}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email address</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="user.email" placeholder="Email address">
                            <small class="e-text" v-if="errors.email">{{errors.email[0]}}</small>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Job Title</label>
                        <div class="col-sm-6">

                            <select class="form-control" v-model="user.job_title">
                              <option>Secretary</option>
                              <option>Admin</option>
                              <option>Staff</option>
                            </select>
                            <small class="e-text" v-if="errors.job_title">{{errors.job_title[0]}}</small>
                        </div>
                    </div>

                    <div class="form-group"></div>

                    <div class="form-group">
                    <label class="col-sm-3 control-label">Picture</label>
                        <div class="col-sm-6">
                            <input type="file" class="form-control" name="image" v-on:change="onChange">
                            <small class="e-text" v-if="errors.image">{{errors.image[0]}}</small>
                        </div>
                    </div>

              <div class="bg-default content-box mrg25T pad20A">
                <label class="col-sm-3 control-label"></label>
                <button class="btn btn-black" type="submit" v-text="button"><div class="ripple-wrapper" ></div></button>
                <a class="btn btn-default" @click="$router.back()">Cancel<div class="ripple-wrapper" ></div> </a>
              </div>

            <br>
            <br>
            <br>
            <br>

            </form>
        </div>
    </div>
    </div>
</template>
<script type="text/javascript">
  import axios from 'axios'
  import Vue from 'vue';
  import VueFlashMessage from 'vue-flash-message';

  Vue.use(VueFlashMessage);

  const template = `
    <div
      v-for="(message, index) in storage"
      :key="index"
    >
      <div class="flash__message-content" v-html="message.content"></div>
    </div>
  `;
  Vue.use(VueFlashMessage, { template });

  import Typeahead from '../../components/Typeahead.vue'
  import isLoggedMixin from '../../helpers/mixins'
  export default {
      mixins: [isLoggedMixin],
      data() {
          return {
              redirect: '/profile',
              title: 'Information',
              initalize: 'user/update',
              user: false,
              button: 'Save',
              errors: {}
          }
      },
      created() {
          this.checkIfLogged()
            .then(response => {
              this.user = response ? response : false;
            })
            .catch(error => this.errors = error);
      },
      methods: {
          onChange(e){
              var input = e.target
              if (input.files && input.files[0]) {
                  this.user.image = input.files[0]
              }
          },
          submit() {

            this.errors = {}

            let vm = this

            let fd = new FormData()

                  if(this.user.image){
                      fd.append('image', this.user.image)
                  }
                  fd.append('firstname', this.user.firstname)
                  fd.append('lastname', this.user.lastname)
                  fd.append('email', this.user.email)
                  fd.append('job_title', this.user.job_title)

              axios.post(`/api/${this.initalize}`, fd)
                  .then(response => {
                      this.flash(`
                        <div class="message-content message-success">
                          <div class="message-icon"><i class="glyph-icon fa fa-check-square-o"></i></div>
                          <div class="message-text"> You have now successfully saved!</div>
                        </div>
                        `, 'success', {
                        timeout: 3000
                      });

                      this.$router.push(this.redirect) 
                  })
                  .catch(error => {
                    console.log(error.response)
                    if(error.response.status === 422) {
                      vm.errors = error.response.data
                    }
                  });
          }
      },
      components: {
          Typeahead
      }
  }
</script>